[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc
	branch = c0d1c39 # v1.56.2
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog
	branch = b33e3ba # v0.6.0
[submodule "third_party/cli11"]
	path = third_party/cli11
	url = https://github.com/CLIUtils/CLI11
	branch = 291c587 # v2.3.2
[submodule "third_party/xsched"]
	path = third_party/xsched
	url = git@ipads.se.sjtu.edu.cn:infer-train/xsched.git
[submodule "third_party/mpool"]
	path = third_party/mpool
	url = git@ipads.se.sjtu.edu.cn:infer-train/mpool.git
