.vscode
build/
build_*/
/cmake-*
/.cache
/log
/.idea

*.gz
*.tar
*.onnx

server/models/*/

.pkl_memoize_py3/

*.so
*.out

*.egg-info/
python/torch_col/torch_col.cpp
python/torch_col/sta.cpp
pytorch/torch_col/main.cpp
dist/

*.code-workspace

*.pyc

log/*
/dcgmi_output/*.txt

.env
