.vscode
build
build/
bin/
build_*/
/cmake-*
/.cache
/log
/log-*
/.idea

*.gz
*.tar
*.xz
*.onnx

server/models/*/

.pkl_memoize_py3/

*.so
*.out

*.egg-info/
python/torch_col/torch_col.cpp
python/torch_col/sta.cpp
pytorch/torch_col/main.cpp
dist/

*.code-workspace

*.pyc

log/*
log_*/*
/dcgmi_output/*.txt

.env
.gdb_history

mempool_dump*/*

cifar-10-batches-py/*